<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.Fast.BusinessOnline" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Azure" android:theme="@style/MainTheme" android:icon="@mipmap/icon">
	</application>
	<queries>
		<package android:name="com.azure.authenticator" />
		<package android:name="Azure.Android" />
		<package android:name="com.microsoft.windowsintune.companyportal" />
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.BROWSABLE" />
			<data android:scheme="https" />
		</intent>
		<intent>
			<action android:name="android.support.customtabs.action.CustomTabsService" android:exported="true" />
		</intent>
	</queries>
</manifest>